.App {
    text-align: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.SiteNav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    overflow: hidden;
    background-color: aliceblue;
}

.NavContainer > ul {
    list-style: none;
    float: right;
}

.NavContainer {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.NavContainer > ul > li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.Body {
    margin-top: 50px;
    display: inline-block;
    width: 100%;
}

.active {
    font-weight: bold;
}

.Section {
    width: 100%;
    margin-top: 25px;
}

.Background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-color: aqua;
    opacity: 0.25;
}

footer  {
    margin-top: 25px;
    margin-bottom: 50px;
}

footer > a {
    margin-left: 10px;
    margin-right: 10px;
}

footer > hr {
    border: 1px solid black;
    opacity: 0.5;
    width: 75%;
    margin-bottom: 25px;
    margin-top: 50px;
}
